<?xml version="1.0"?>
<configuration>    
    <appSettings>
        <add key="HelpCompilerLocation" value="C:\Program Files (x86)\HTML Help Workshop\hhc.exe"/>
        <add key="ShowHotSpots" value="0"/>
        <add key="TraceLogDirectory" value="c:\temp\BizTalkProfiler\"/>
    </appSettings>
    
    
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.BizTalk.XLangView" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
                             
            <codeBase version="3.0.1.0" href="C:\Program Files\Microsoft BizTalk Server 2016\Tracking\Microsoft.BizTalk.XLangView.dll"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
